<nav class="navbar">
  <div class="container nav-content">
    <a href="#" class="nav-logo"> <i class="bx bx-hive"></i> Siderúrgica Perú </a>
    <ul class="nav-links">
      <li><a href="#inicio">Inicio</a></li>
      <li><a href="#nosotros">Nosotros</a></li>
      <li><a href="#productos">Productos</a></li>
      <li><a href="#servicios">Servicios</a></li>
      <li><a href="#contacto">Contacto</a></li>
    </ul>
    <a routerLink="/login" class="btn-login"> <i class="bx bx-lock-alt"></i> Iniciar Sesión </a>
  </div>
</nav>
